<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.perfils') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">

        <% if @error.present? %>
            <!--<div class="alert alert-danger alert-dismissable fade in">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->
            <!--<%#= @error %>-->
            <!--</div>-->
            <script>
                swal({
                    title: "<%= t('all.no_filter')%>",
                    type: "warning"

                }); // swal
            </script>
        <% end %>
        <%= form_tag({:controller => "profiles", :action => "index"}, :method => "get") do %>
            <input type="hidden" value="<%= params[:locale] %>" name="locale">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="search" autocomplete="off" placeholder="<%= t('all.placehol_search') %>">
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <div class="btn-group">
                    <%#= submit_tag t('all.btn_search'), :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>

                    <%= button_tag(type: 'submit', class: 'btn btn-w-m btn-info') do %>
                        <i class="fa fa-search"></i>
                        <%= t('all.btn_search') %>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>

            <% if @query.present? %>

                <div class="row">
                  <div class="col-lg-4">
                    <h3><%= t('all.query') %>: <%= @query %></h3>
                  </div>
                  <div class="col-lg-8">
                    <div class="row">
                      <div class="col-xs-6 col-xs-4">
                        <div class="form-group">
                          <%= link_to t('all.clean'), profiles_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>

        <div class="row">
          <div class="col-xs-3 col-md-4">
            <% if @crearPerfil == 8 %>
                <%= link_to '<span class="fa fa-user"></span> '.html_safe + t('views.perfils_index.new'), new_profile_path, :class => 'btn btn-xs btn-info dim' %>
            <% end %>
          </div>
          <div class="col-xs-1 col-md-1 col-lg-3"></div>
          <div class="col-xs-8 col-md-7 col-lg-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_right">
                <%= page_entries_info @profiles, entry_name: t('views.perfils') %>
              </div>
              <div class="pag_right">
                <%= paginate @profiles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>

        <br>
        <div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
          <table class="table footable no-paging" data-filter=#filter data-page-size="10">
            <thead>
            <tr>
              <th class="text-center" data-sort-ignore="true"><%= t('activerecord.atributes.name') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('activerecord.atributes.area') %></th>
              <% if @leerPerfil == 2%>
                  <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.show') %></th>
              <%end%>
              <% if @editarPerfil == 4%>
                  <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.edit') %></th>
              <%end%>
              <% if @eliminarPerfil == 1%>
                  <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.delete') %></th>
              <%end%>
            </tr>
            </thead>

            <tbody>
            <% @profiles.each do |perfil| %>
                <% if ((perfil[:area_id] != 1) || (perfil[:flag] != 1)) #Perfil Default Central      %>
                    <% if perfil[:flag] != 2 #Cualquier perfil Default     %>
                        <tr>
                          <td class="text-center"><%= perfil[:name] %></td>
                          <td class="text-center">
                            <% if perfil[:area_id].present? %>
                                <% @area = Area.find(perfil[:area_id]) %>
                                <% if @area.name.present? %>
                                    <%= @area.name %>
                                <% end %>
                            <% else %>
                                N/A
                            <% end %></td>
                          <% if @leerPerfil == 2 %>
                              <% @per = Profile.find(perfil[:id]) %>
                              <td class="text-center"><%= link_to '<button class="btn btn-primary btn-xs" type="button"><i class="fa fa-file-text "></i></button>'.html_safe, @per %></td>
                          <% end %>

                          <td class="text-center">
                            <% if @editarPerfil == 4 %>
                                <% @per = Profile.find(perfil[:id]) %>
                                <% if current_user.area_id == "1" && perfil[:id] != current_user.profile_id.to_i #Es un usuario de CENTRAL     %>
                                    <% if (perfil[:flag] >= 2) && (perfil[:flag] > current_user.profile.flag.to_i) %>
                                        <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button> '.html_safe, edit_profile_path(@per) %>
                                    <% end %>
                                <% else #Es un usuario de OTRA AREA %>
                                    <% if perfil[:flag] > current_user.profile.flag && perfil[:area_id] == current_user.area_id.to_i && perfil[:flag] > 2 %>
                                        <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button> '.html_safe, edit_profile_path(@per) %>
                                    <% end %>
                                    <% if perfil[:flag] >= current_user.profile.flag && perfil[:area_id] > current_user.area_id.to_i && perfil[:flag] > 2 %>
                                        <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button> '.html_safe, edit_profile_path(@per) %>
                                    <% end %>
                                <% end %>
                            <% end %>
                          </td>

                          <td class="text-center">
                            <% if @eliminarPerfil == 1%>
                                <input type="hidden" value="<%=perfil[:name]%>" id="perf<%= perfil[:id] %>">
                                <% if current_user.area_id == "1" && perfil[:id] != current_user.profile_id.to_i #Es un usuario de CENTRAL     %>
                                    <% if (perfil[:flag] >= 2) && (perfil[:flag] > current_user.profile.flag.to_i) %>
                                        <%#= link_to '<button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o "></i></button> '.html_safe, perfil, method: :delete, data: {confirm: t('views.perfils_index.confirm')} %>
                                        <button class="btn btn-danger btn-xs  perfil" type="button" id="<%= perfil[:id] %>">
                                          <i class="fa fa-trash-o"></i>
                                        </button>
                                    <% end %>
                                <% else #Es un usuario de OTRA AREA %>
                                    <% if perfil[:flag] > current_user.profile.flag && perfil[:area_id] == current_user.area_id.to_i && perfil[:flag] > 2 %>
                                        <%#= link_to '<button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o "></i></button> '.html_safe, perfil, method: :delete, data: {confirm: t('views.perfils_index.confirm')} %>
                                        <button class="btn btn-danger btn-xs  perfil" type="button" id="<%= perfil[:id] %>">
                                          <i class="fa fa-trash-o"></i>
                                        </button>
                                    <% end %>
                                    <% if perfil[:flag] >= current_user.profile.flag && perfil[:area_id] > current_user.area_id.to_i && perfil[:flag] > 2 %>
                                        <%#= link_to '<button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o "></i></button> '.html_safe, perfil, method: :delete, data: {confirm: t('views.perfils_index.confirm')} %>
                                        <button class="btn btn-danger btn-xs  perfil" type="button" id="<%= perfil[:id] %>">
                                          <i class="fa fa-trash-o"></i>
                                        </button>
                                    <% end %>
                                <% end %>
                            <% end %>
                          </td>

                        </tr>
                    <% end %>
                <% end %>
            <% end %>
            </tbody>
            <!--<tfoot>
            <tr>
              <td colspan="11">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
            </tfoot>-->
          </table>
        </div>
        <br>

        <div class="row">
          <div class="col-xs-3 col-md-4">
            <% if @crearPerfil == 8 %>
                <%= link_to '<span class="fa fa-user"></span> '.html_safe + t('views.perfils_index.new'), new_profile_path, :class => 'btn btn-xs btn-info dim' %>
            <% end %>
          </div>
          <div class="col-xs-1 col-md-1 col-lg-3"></div>
          <div class="col-xs-8 col-md-7 col-lg-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="pag_right">
                <%= paginate @profiles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
              <div class="detall_right">
                <%= page_entries_info @profiles, entry_name: t('views.perfils') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<script type="text/javascript">
    function checkSubmit() {
        document.getElementById("sub").value = "Sending...";
        document.getElementById("sub").disabled = true;
        return true;
    }

    $(".pop").popover({trigger: "manual", html: true, animation: false})
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        }, 300);
    });

    $("[data-toggle=hover]").popover({html: true})
    $('#popoverData').popover();
    /*$(document).ready(function () {
     $('table').footable();
     });*/

    function recargar() {
        window.location.reload(true);
    }

    $(document).on("click", ".perfil", function () {
        var id = this.id;
        var perf = $("#perf" + id).val();
        swal({
                title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.perfil')%>  ' +  perf  + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    swal({
                            title: '<%= t('views.mess_apli_title2_p')%>',
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                            cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: "POST",
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                    },
                                    url: "/profiles/" + id,
                                    data: {"_method": "delete"},
                                })
                                //swal("<%= t('views.mess_apli_swall')%>");
                                swal(
                                    {
                                        title: '<%= t('views.mess_apli_swall')%>',
                                        type: "success",
                                        confirmButtonText: "OK",
                                    },function(isConfirm){
                                        if(isConfirm){
                                            recargar();
                                        }
                                    })
                            } else {
                                swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                            }
                        })
                } else {
                    swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                }
            });
    })
</script>