<% begin %>

<% puts "Controlador consulta en la vista #{@ConsultaHistTbit.count} Present?: #{@ConsultaHistTbit.present?}" %>
  <% if @ConsultaHistTbit.present? %>
    <div class="row">
      <div class="col-sm-7"></div>
      <div class="col-sm-5 text-right">
        <div style="margin-bottom: 2em;">
          <div class="detall_left" id="cont">
            <%= page_entries_info @ConsultaHistTbit, entry_name: t('activerecord.all.alert') %>
          </div>
          <div class="pag_right" id="paginator">
            <%= paginate @ConsultaHistTbit, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @IdAlerta, :kam => 'hist', :observaciones => nil} %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10"></div>
      <div class="col-sm-2 text-right ">
        <button type="button" class="btn btn-xs btn-primary unsel" id="check_all">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
          <label> <%= t('views.permisos_edit.select') %> </label>
        </button>
      </div>
    </div>

    <br>
    <table class="table table-bordered table- table-condensed table-striped" id="tab">
      <thead>
      <tr>
        <th width="15"></th>
        <th><%= t('views.new_alert_tran.ticket') %></th>
        <th><%= t('views.new_alert_tran.date_hour') %></th>
        <th><%= t('views.new_alert_tran.origin_s') %></th>
        <th><%= t('views.new_alert_tran.filter') %></th>
        <th><%= t('views.new_alert_tran.state') %></th>
        <th><%= t('views.new_alert_tran.analyst') %></th>
        <% if @editarNewTran == 4 %>
          <th><%= t('views.new_alert_tran.attend') %></th>
        <% end %>
      </tr>
      </thead>

      <tbody id="alertas_hist">
        <%= render @ConsultaHistTbit %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-7"></div>
      <div class="col-sm-5 text-right">
        <div style="margin-bottom: 2em;">
          <div class="pag_right" id="paginator_p">
            <%= paginate @ConsultaHistTbit, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @IdAlerta, :kam => 'hist', :observaciones => nil} %>
          </div>
          <div class="detall_left" id="cont_p">
            <%= page_entries_info @ConsultaHistTbit, entry_name: t('activerecord.all.alert') %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <label><%= t('views.new_alert_tran.no_alerts') %></label>
  <% end %>



<%# if @ConsultaHistTbit.present? %>
  <%#  puts" Estoy en la vista #{@ConsultaHistTbit.count}"%>


<!--  <div class="row">-->
<!--    <div class="col-sm-10"></div>-->
<!--    <div class="col-sm-2 text-right ">-->
<!--      <button type="button" class="btn btn-xs btn-primary unsel" id="check_all">-->
<!--        <i class="fa fa-plus-square" aria-hidden="true"></i>-->
<!--        <label> <%#= t('views.permisos_edit.select') %> </label>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->

<!--  <br>-->
<!--  <table class="table table-bordered table- table-condensed table-striped" id="tab">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th width="15"></th>-->
<!--      <th><%#= t('views.new_alert_tran.ticket') %></th>-->
<!--      <th><%#= t('views.new_alert_tran.date_hour') %></th>-->
<!--      <th><%#= t('views.new_alert_tran.origin_s') %></th>-->
<!--      <th><%#= t('views.new_alert_tran.filter') %></th>-->
<!--      <th><%#= t('views.new_alert_tran.state') %></th>-->
<!--      <th><%#= t('views.new_alert_tran.analyst') %></th>-->
      <%# if @editarNewTran == 4 %>
<!--        <th><%#= t('views.new_alert_tran.attend') %></th>-->
      <%# end %>
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody id="alertas_hist">-->
    <%#= render @ConsultaHistTbit %>

<!--    </tbody>-->
<!--  </table>-->

<%# else %>
<!--  <label><%#= t('views.new_alert_tran.no_alerts') %></label>-->
<%# end %>

<script type="text/javascript" charset="utf-8">
    <% if @nuevo %>
      localStorage.setItem("Selected", "");
    <% end %>

    $(function(){
        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {color: '#1AB394'});

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $(".ref").click(function () {
            var id = $(this).children(".id_tran").children(".linkTran").html()
            var tiene = $("#head" + id).hasClass("cerrado")

            if (tiene) {
                $("#head" + id).show()
//            $("#content_ref" + id).show()
                $("#head" + id).removeClass("cerrado")
//            $("#content_ref" + id).removeClass("cerrado")
                $("#head" + id).addClass("abierto")
                $(this).children(".show").html("")
                $(this).children(".show").append('<i class="fa fa-minus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("abierto")
            } else {
                $("#head" + id).hide()
//            $("#content_ref" + id).hide()
                $("#head" + id).removeClass("abierto")
//            $("#content_ref" + id).removeClass("abierto")
                $("#head" + id).addClass("cerrado")
                $(this).children(".show").html("")
                $(this).children(".show").append('<i class="fa fa-plus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("cerrado")
            }

        })

        $("#state_ob").change(function () {
            var valor = $(this).val()

            for (i = 0; i < gon.estados.length; i++) {
                if (gon.estados[i].IdEstado == valor) {
                    var def = gon.estados[i].falso_positivo
                    console.log('valor de def: ' + def)

                    if (def == 0) {
                        $("#fraud_no").iCheck('check')
                        $("#fraud_yes").iCheck('uncheck')
                        $("#fraud_no").iCheck('disable')
                        $("#fraud_yes").iCheck('disable')
                    } else if (def == 1) {
                        $("#fraud_no").iCheck('uncheck')
                        $("#fraud_yes").iCheck('check')
                        $("#fraud_no").iCheck('disable')
                        $("#fraud_yes").iCheck('disable')
                    } else if (def == 2) {
                        $("#fraud_no").iCheck('uncheck')
                        $("#fraud_yes").iCheck('uncheck')
                        $("#fraud_no").iCheck('enable')
                        $("#fraud_yes").iCheck('enable')
                    }
                    break;
                }
            }
        })

        $('#tab input:checkbox').on('ifChecked', function (event) {
            //SOY DE ALERTTRAN
            console.log("me seleccionaron")
            var lc = localStorage.getItem("Selected");
            var selected = $(this).val();
            var checked_alert = lc.split(',')

            var existe = jQuery.inArray(selected, checked_alert)

            if (existe == -1) {
                if (lc == "") {
                    localStorage.setItem("Selected", lc + selected);
                } else {
                    localStorage.setItem("Selected", lc + "," + selected);
                }
            }

            $("#valor").val(localStorage.getItem("Selected"))

            var lc = $("#valor").val()
            // console.log(lc.length)
            // console.log(lc)
            if (lc.length == 0){
                $('#apply_obse').iCheck('disable');
                $('#apply_obse').iCheck('uncheck');
            }else {
                $('#apply_obse').iCheck('enable');
            }
        });

        $('#tab input').on('ifUnchecked', function (event) {
            // SOY DE ALERTTRAN
            console.log("no me seleccionaron")
            var lc = localStorage.getItem("Selected");
            var selected = $(this).val();
            var checked_alert = lc.split(',')

            var existe = jQuery.inArray(selected, checked_alert)

            if (existe != -1) {
                checked_alert.splice(existe, 1)
                checked_alert = checked_alert.join(",");
                localStorage.setItem("Selected", checked_alert)
            }

            $("#valor").val(localStorage.getItem("Selected"))

            var seleccionados = $("#tab input:checkbox:checked").map(function () {
                return $(this).val()
            }).get();

            if (seleccionados.length < 10) {
                $("#check_all").removeClass("sel")
                $("#check_all").addClass("unsel")
                $("#check_all").html('');
                $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
            } else {
                $("#check_all").removeClass("unsel")
                $("#check_all").addClass("sel")
                $("#check_all").html('');
                $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')
            }

            var lc = $("#valor").val()
            console.log(lc.length)
            console.log(lc)
            if (lc.length == 0){
                $('#apply_obse').iCheck('disable');
                $('#apply_obse').iCheck('uncheck');
            }else {
                $('#apply_obse').iCheck('enable');
            }
        });

        $("#check_all").css("width", "155")

        $("#check_all").click(function () {
            console.log("clic todos")
            var tiene = $(this).hasClass("unsel")

            if (tiene) {
                $(this).removeClass("unsel")
                $(this).addClass("sel")
                $(this).html('');
                $(this).append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')

                $("#tab input:checkbox").map(function () {
                    $(this).iCheck('check')

                    var lc = localStorage.getItem("Selected");
                    <% alertas = "" %>
                    <% cont = 0 %>
                    <% @ConsultaHistTbit_xls.each do |h| %>
                    <% if cont == 0  %>
                    <% cont += 1 %>
                    <% alertas = alertas + h.Id.to_s %>
                    <% else  %>
                    <% alertas = alertas + ',' + h.Id.to_s %>
                    <% end %>
                    <% end %>

                    var selected = "<%= alertas %>"
                    localStorage.setItem("Selected", selected);

                    $('#apply_obse').iCheck('enable');

                    $("#valor").val(localStorage.getItem("Selected"))
                }).get();

            } else {
                $(this).removeClass("sel")
                $(this).addClass("unsel")
                $(this).html('');
                $(this).append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')

                $("#tab input:checkbox").map(function () {
                    $(this).iCheck('uncheck')
                    localStorage.setItem("Selected", "")

                    $("#valor").val(localStorage.getItem("Selected"))

                    $('#apply_obse').iCheck('disable');
                }).get();
            }

            console.log($("#valor").val())
        })

        <% if @crearNewTran == 8 %>
        $(".xls_g").click(function () {
            var id = this.id;
            var idioma = $("#idioma").val()
            $.ajax({
                type: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                url: "/alertn/alertTran?id=" + id + "&xls_g=true" + "&user_id=<%= current_user.id %>" + "&idioma=" + idioma,
                data: {"_method": "alertTran"},
            })

            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 5000
            };
            toastr.success("<%= t('views.xls_a.message') %>", "<%= t('views.xls_a.message2') %>");
        })
        <% end %>
    })
</script>

<style>

  <%# if @camposref.length > 5 %>
  .ref-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .reference-table {
    display: table;
    margin-right: 20px;
  }

  .ref-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: #003057;
    background-color: #CCCCCC;
  }

  .ref-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #F5F5F5;
  }

  .ref-wrapper::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
    #3472a4 0%,
    #3472a4 25%,
    transparent 100%,
    #3472a4 75%,
    transparent)
  }

  <%# end %>

</style>
  <%
  rescue => e
  puts 'Archivo: log/error_histAlertas.log'
  logger = Logger.new("log/error_histAlertas.log")
  logger.error('----------------------------------------------------------')
  logger.error(e)
  %>

<% end %>