<%= stylesheet_link_tag 'alertn' %>
<%= javascript_include_tag "iCheck/icheck.min.js"%>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<input type="hidden" id="metodo" value="<%= action_name %>">
<input type="hidden" id="idTranT" value="<%= params[:id] %>">
<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="row">
          <div class="col-xs-10">
            <% if @id_consulta %>
              <h1><%= t('all.follow_a') %> Key Monitor Transaccional</h1>
            <% else %>
              <h1><%= t('all.new_a') %> Key Monitor Transaccional</h1>&nbsp;&nbsp;
            <% end %>
          </div>
          <div class="col-xs-2 text-center">

            <% if @id_consulta %>
              <%= link_to t('views.new_alert_tran.next_al'), alertn_alertTran_path, :class => "btn btn-w-m btn-primary dim", :data => {:no_turbolink => true} %> &nbsp;&nbsp;
            <% end %>
          </div>
        </div>
      </div>
      <div class="ibox-content relative" id="responsiveTable">

        <br>
        <% if @id_consulta %>
          <div class="row">
            <div class="col-sm-12 text-right">
              <% if @crearNewTran == 8 %>
                <button class="btn btn-primary btn-xs xls_g" type="button" id="<%= @alerta_Tran.Id %>">
                  <i class="fa fa-floppy-o"></i> XLS
                </button>
              <% end %>
              <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
            </div>
          </div>
        <% end %>

        <!-- New Alert Fixed --->
        <div id="numTarjeta" class="row">
          <div class="col-sm-12">
            <section class="block-area">
              <input type="hidden" id="numTarj" value="<%= @IdTran %>">
              <h2 style="text-align:center;"> <%= t('config.main') %>: <%= @IdTran %>
                <% if !@estaEnWL.present? || @estaEnWL.Estado == false %>
                  <a id="addWhiteList" class="btn btn-primary btn-xs" title="Agregar a lista blanca" value="<%= @IdTra %>"><i class="fa fa-list"></i></a>

                  <%#form_for @tbitacora do |f| %>
<!--                  <input type="submit" data-toggle="toggle" data-on="Habilitado" data-off="Bloqueado" value="<%#= @alerta_Tran.habilitado %>" >-->
                    <%#end %>
                  <% valorHabilitado = @alerta_Tran.bloqueo_de_cuenta %>
                  <input type="hidden" id="idt" name="idt" value="<%= @alerta_Tran.Id %>">
                  <%# if valorHabilitado == true %>
                  <span class="btn btn-success btn-xs" id="habi" value="<%= valorHabilitado %>">
                      Desbloquear
                      </span>
                    <%# end %>

                <% end %>
              </h2>
            </section>
          </div>
        </div>
        <div id="detail" class="ibox arrastra" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.detail') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content" style="display: block;">
            <table class="table table-bordered table- table-condensed table-striped">
              <thead>
              <tr>
                <th><%= t('views.new_alert_tran.ticket') %></th>
                <th><%= t('views.new_alert_tran.date_hour') %></th>
                <th><%= t('views.new_alert_tran.origin_s') %></th>
                <th><%= t('views.new_alert_tran.message') %></th>
                <th><%= t('views.new_alert_tran.filter') %></th>
              </tr>
              </thead>

              <tbody>

              <tr>
                <td><%= @alerta_Tran.Id %></td>
                <td><%= @alerta_Tran.Fecha %>
                  <bl></bl><%= @alerta_Tran.Hora %></td>
                <% if @alerta_Tran.IdProducto == 1 %>
                  <td><%= "Transaccional" %></td>
                <% else %>
                  <td><%= "Perfiles" %></td>
                <% end %>
                <td><%= @alerta_Tran.Mensaje %></td>
                <td>
                  <% if @alerta_Tran.tx_filters.present? %>
                    <%= @alerta_Tran.tx_filters.Id %>-<%= @alerta_Tran.tx_filters.Description %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- New Alert Fixed -->

        <div class="ibox" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.ref') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content ref-wrapper" style="display: block;">
            <% @camposref = @alerta_Tran.Referencia.split(">") %>
            <table class="table table-bordered table- table-condensed table-striped reference-table">
              <thead>
              <tr>

                <% @camposref.each do |valor| %>
                  <th><%= valor.split("=").first.from(5) %></th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              </tr>
              <% @camposref.each do |valor| %>
                <!--                <td>$<%#= number_with_delimiter(number_with_precision (card.initial_balance.to_f) / 100, precision: 2) %></td>-->
                <% if valor.split("=").length > 1 %>
                  <td>
                    <% @nameCampo = valor.split('=').first.from(5) %>
                    <% if (@nameCampo == "Monto" || @nameCampo == "monto" || @nameCampo == "Monto1" || @nameCampo == "Monto2" || @nameCampo == "Monto3") %>
                      <%= "$" %>
                      <% @valorP = valor.split("=").last.split("<").last %>
                      <% @pesos = @valorP.split('.').first %>
                      <%= number_with_delimiter(number_with_precision (@pesos.to_f) / 100, precision: 2, delimiter: ',', separator: '.') %>
                    <% else %>
                      <%= @valorP = valor.split("=").last.split("<").last %>
                    <% end %>
                  </td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              </tr>

              </tbody>
            </table>
          </div>
        </div>

        <% if @id_consulta %>
          <div class="ibox" style="border: 1px solid #E7EAEC">
            <div class="ibox-title" style="color: #2F4050">
              <h5><%= t('views.new_alert_tran.obse') %></h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content" style="display: block;">
              <h5 id="error" class="text-danger"></h5>
              <div id="observacionesTable">
                  <%#= render partial: 'observaciones' %>
                <%= render 'observaciones' %>
              </div>

              <div class="row">
                <div class="col-xs-12 text-right">
                  <% if @editarNewTran == 4 %>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="modal_opener">
                      <%= t('views.new_alert_tran.add_obse') %>
                    </button>
                  <% end %>
                </div>
              </div>
              <% if @editarNewTran == 4 %>
                <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title"><%= t('views.new_alert_tran.work') %></h4>
                      </div>
                      <%= form_tag({:controller => "alertn", :action => "alertTran"}, :method => "get") do %>

                        <div class="modal-body">

                          <% if @id_consulta %>
                            <input type="hidden" id="idH" name="id" value="<%= @id_consulta %>">
                          <% end %>
                          <input type="hidden" id="id_tranH" name="id_tran" value="<%= @alerta_Tran.id %>">
                          <input type="hidden" id="idTranH" value="<% @alerta_Tran.id %>" name="idTran">
                          <input type="hidden" id="valor" name="historico">
                          <div class="form-group">
                            <label><%= t('views.new_alert_tran.obse') %></label>
                            <textarea id="obseArea" name="observaciones" autocomplete="off" required rows="4" cols="20" placeholder="<%= t('views.new_alert_tran.placeh_obse') %>" class="form-control input-sm"></textarea>
                          </div>


                          <div class="form-group">
                            <label><%= t('views.new_alert_tran.state') %></label>
                            <select name="estado" class="form-control input-sm m-b-10" required id="state_ob">
                              <option value=""><%= t('views.new_alert_tran.placeh_states') %></option>
                              <% @states.each do |st| %>
                                <option value="<%= st.IdEstado %>"><%= st.Descripcion %></option>
                              <% end %>
                            </select>
                            <br>
                            <div id="fraud_radio">
                              <label><%= t('views.niv_alert_index.fraud') %></label>
                              <div class="i-checks">
                                <label> <input type="radio" value="1" name="fraud" id="fraud_yes">
                                  <i></i> <%= t('all.yes') %>
                                </label></div>
                              <div class="i-checks">
                                <label> <input type="radio" value="0" name="fraud" id="fraud_no"> <i></i> No </label>
                              </div>
                            </div>
                          </div>

                          <% if @ConsultaHistTbit.present? %>
                            <div class="form-group" id="checkbox_apply">
                              <label><%= t('views.new_alert_tran.apply') %></label>
                              <input type="checkbox" class="i-checks" value="true" name="apply" id="apply_obse" disabled>
                              <br>
                              <font color="#8b0000"><label id="errorSel" style="display: none;"></label></font>
                            </div>

                            <script>
                                $("#checkbox_apply").click(function () {
                                    console.log("entre")
                                    var lc = localStorage.getItem("Selected")

                                    if (lc == "") {
                                        console.log("lc no tiene nada")
                                        var msg = "<%= t('views.new_alert_tran.apply_err')%>";
                                        document.getElementById('errorSel').innerHTML = msg;
                                        $("#errorSel").show();
                                        $(this).iCheck('uncheck');
                                    } else {
                                        $("#errorSel").hide();
                                    }
                                });

                                $("#modal_opener").click(function () {
                                    $("#errorSel").hide();
                                })
                            </script>
                          <% end %>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <%#= button_tag(type: 'submit', class: 'btn btn-w-m btn-primary') do %>
                            <%#= t('all.save') %>
                          <%# end %>
                          <span id="saveObse" class="btn btn-w-m btn-primary" data-dismiss="modal"><%= t('all.save') %></span>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% else %>
          <% if @editarNewTran == 4 %>
            <div class="ibox" style="border: 1px solid #E7EAEC">
              <div class="ibox-title" style="color: #2F4050">
                <h5><%= t('views.new_alert_tran.work') %></h5>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content" style="display: block;">
                <%= form_tag({:controller => "alertn", :action => "alertTran"}, :method => "get") do %>
                  <% if @id_consulta %>
                    <input type="hidden" name="id" value="<%= @id_consulta %>">
                  <% end %>
<!--                  Soy de normal-->
<!--                  <input type="hidden" name="id_tran" value="<%#= @alerta_Tran.id %>">-->
                  <input type="hidden" id="idH" name="id_tran" value="<%= @alerta_Tran.id %>">
                  <input type="hidden" value="<% @alerta_Tran.id %>" name="idTran">
                  <input type="hidden" id="valor" name="historico">
                  <div class="form-group">
                    <label><%= t('views.new_alert_tran.obse') %></label>
                    <textarea id="obseArea" name="observaciones" autocomplete="off" required rows="4" cols="20" placeholder="<%= t('views.new_alert_tran.placeh_obse') %>" class="form-control input-sm"></textarea>
                  </div>


                  <div class="form-group">
                    <label><%= t('views.new_alert_tran.state') %></label>
                    <select name="estado" class="form-control input-sm m-b-10" required id="state_ob">
                      <option value=""><%= t('views.new_alert_tran.placeh_states') %></option>
                      <% @states.each do |st| %>
                        <option value="<%= st.IdEstado %>"><%= st.Descripcion %></option>
                      <% end %>
                    </select>
                    <br>
                    <div id="fraud_radio">
                      <label><%= t('views.niv_alert_index.fraud') %></label>
                      <div class="i-checks">
                        <label> <input type="radio" value="1" name="fraud" id="fraud_yes">
                          <i></i> <%= t('all.yes') %>
                        </label></div>
                      <div class="i-checks">
                        <label> <input type="radio" value="0" name="fraud" id="fraud_no"> <i></i> No </label></div>
                    </div>
                  </div>

                  <% if @ConsultaHistTbit.present? %>
                    <div class="form-group">
                      <label><%= t('views.new_alert_tran.apply') %></label>
                      <input type="checkbox" class="i-checks" value="true" name="apply" id="apply_obse" disabled>
                    </div>
                  <% end %>

                  <%#= button_tag(type: 'submit', class: 'btn btn-w-m btn-primary') do %>
                    <%#= t('all.save') %>
                  <%# end %>

                  <span id="saveObseNueva" class="btn btn-w-m btn-primary" data-dismiss="modal"><%= t('all.save') %></span>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>


        <div class="ibox" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.hist') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content" style="display: block;">
            <div id="histAlertasTab">
              <%= render 'historialAlertas' %>
            </div>

          </div>
        </div>

        <div class="ibox" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.hist_tran') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="ibox-content content-hist-trans" style="display: block;">


            <% if !@transacciones.nil? && @transacciones.length > 0 %>
              <!--<table id="table1" class="table table-striped" id="tb_re2">-->
              <%#= page_entries_info @transacciones, entry_name: 'Transaccion(es)' %>
              <%#= paginate @transacciones, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              <table id="table_tran" class="table table-condensed table-striped">
                <!--<thead class="sorted_head2" id="thead">-->
                <thead class="sorted_head2" id="thead">
                <tr id="totalr">
                  <th class="text-center"><%= t('views.alertc_index.date') %></th>
                  <% @cols_ref.each do |cr| %>
                    <% @campor = cr %>
                    <th class="text-center"><%= @campor %></th>
                  <% end %>
                </tr>
                </thead>
                <tbody>
                <% @transacciones.each do |tt| %>
                  <tr>
                    <td class="text-center datosTabla"><%= tt['FECHA_HORA_KM'] %></td>
                    <% @cols_ref.each do |cr| %>
                      <% @campor = cr.delete(" ") %>
                      <td class="text-center datosTabla"><%= tt[@campor] %></td>
                    <% end %>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% else %>
              <label><%= t('views.new_alert_tran.no_alerts_tran') %></label>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="traducciones">
  <input id="titleAlert" type="hidden" value="<%= t('all.alert') %>">
  <input id="datosAlert" type="hidden" value="<%= t('all.datosAlert') %>">
  <input id="loseData" type="hidden" value="<%= t('all.loseData') %>">
  <input id="btn_continue" type="hidden" value="<%= t('all.btn_continue') %>">
  <input id="btn_yes" type="hidden" value="<%= t('all.yes') %>">
  <input id="btn_cancel" type="hidden" value="<%= t('all.cancel') %>">
</div>
<script type="text/javascript">

    //----- Fixed para Num-Tarjeta y Detalle
    $(document).ready(function () {
        $(window).scroll(function () {
            //console.log($(this).scrollTop());
            if ($(this).scrollTop() > 246) {
                $('#numTarjeta').addClass('fixed').removeClass('row');
                $('#detail').addClass('fixed2');
                $('.relative').css('padding-top', '250px')
            } else {
                $('#numTarjeta').removeClass('fixed').addClass('row');
                $('#detail').removeClass('fixed2');
                $('.relative').css('padding-top', '0')
            }
        });
    });
    //----- Fin Fixed para Num-Tarjeta y Detalle

    $(function() {
        $('#toggle-two').bootstrapToggle({
            on: 'Enabled',
            off: 'Disabled'
        });
    })

</script>

<style>
  .toast-success {
    background-color: #003057;
  }

  #toast-container > .toast-success:before {
    content: none;
  }

</style>