<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.user_p') %> Key Monitor Transaccional</h1>
      </div>
      <div class="ibox-content" id="responsiveTable">

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @sesiones_filtros, entry_name: t('views.user_priority_index.sessions') %>
              </div>
              <div class="pag_right">
                <%= paginate @sesiones_filtros, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>
        <div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
          <table class="table footable no-paging" data-filter=#filter data-page-size="10">
            <thead>
            <tr>
              <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.sessions') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.filters') %></th>
              <% if @editarPrioridad == 4 %>
                <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.priority') %></th>
              <% end %>
            </tr>
            </thead>

            <tbody>
            <% @sesiones_filtros.each do |al| %>
              <tr class="text-center">
                <td> <%= al[:sesion] %></td>
                <td><%= al[:filtro] %></td>
                <% if @editarPrioridad == 4 %>
                  <td>
                    <%= link_to t('views.user_priority_index.assign'), user_priority_assignPriority_path(:ids => al[:idSesion], :idf => al[:idFiltro]), :class => "btn btn-w-m btn-primary btn-sm" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
            <!--<tfoot>
            <tr>
              <td colspan="11">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
            </tfoot>-->
          </table>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="pag_right">
                <%= paginate @sesiones_filtros, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
              <div class="detall_right">
                <%= page_entries_info @sesiones_filtros, entry_name: t('views.user_priority_index.sessions') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
