<div class="row" id="Panel">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.users_show.title_u_show') %></h1>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class=" col-xs-9"></div>
          <div class="col-xs-1">
            <div class="row">
              <div class="col-xs-4"></div>
              <div class="col-xs-6 text-right">
                <% @act = @user.last_activity_at %>
                <% if !@user.last_activity_at.nil? %>
                    <% if (@user.last_activity_at < 1.month.ago) %>
                        <% if @editarUser == 4 && (@user.id != current_user.id.to_i) %>
                            <% @perfil = Profile.find(@user.profile_id) %>

                            <% if current_user.profile.area_id == "1" #Es un usuario de CENTRAL      %>
                                <% if (@perfil.flag > current_user.profile.flag.to_i) %>
                                    <%= render 'activate', user: @user %>
                                <% end %>
                            <% else #Es un usuario de OTRA AREA  %>
                                <% if @perfil.flag > current_user.profile.flag.to_i && @user.area_id.to_i == current_user.profile.area_id.to_i %>
                                    <%= render 'activate', user: @user %>
                                <% end %>
                                <% if @perfil.flag >= current_user.profile.flag.to_i && @user.area_id.to_i > current_user.profile.area_id.to_i %>
                                    <%= render 'activate', user: @user %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% else %>
                    <% if @editarUser == 4 && (@user.id != current_user.id.to_i) %>
                        <% @perfil = Profile.find(@user.profile_id) %>
                        <% if current_user.profile.area_id == "1" #Es un usuario de CENTRAL      %>
                            <% if (@perfil.flag > current_user.profile.flag.to_i) %>
                                <%= render 'activate', user: @user %>
                            <% end %>
                        <% else #Es un usuario de OTRA AREA  %>
                            <% if @perfil.flag > current_user.profile.flag.to_i && @user.area_id.to_i == current_user.profile.area_id.to_i %>
                                <%= render 'activate', user: @user %>
                            <% end %>
                            <% if @perfil.flag >= current_user.profile.flag.to_i && @user.area_id.to_i > current_user.profile.area_id.to_i %>
                                <%= render 'activate', user: @user %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
              </div>
              <div class="col-xs-2"></div>
            </div>
          </div>
          <div class=" col-xs-2"></div>
        </div>

        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-7">
            <p class="text-center">
              <strong><%= t('activerecord.atributes.name') %>:</strong>
              <%= @user.name %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.last_name') %>:</strong>
              <%= @user.last_name %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.boss_name') %>:</strong>
              <%= @user.boss_name %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.phone') %>:</strong>
              <%= @user.phone %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.ext') %>:</strong>
              <%= @user.ext %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.employment') %>:</strong>
              <%= @user.employment %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.area_id') %>:</strong>
              <%#= @users.area %>
              <% if @user.area.present? %>
                  <% if @user.area.name.present? %>
                      <%= @user.area.name %>
                  <% end %>
              <% else %>
                  N/A
              <% end %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.profile_id') %>:</strong>
              <%#= @users.perfil.name %>
              <% if @user.profile.present? %>
                  <% if @user.profile.name.present? %>
                      <%= @user.profile.name %>
                  <% end %>
              <% else %>
                  N/A
              <% end %>
            </p>
          </div>
          <div class="col-xs-2 text-right">
            <ul class="nav nav-pills nav-stacked">
              <% if @crearPerfil == 8 %>
                  <p class="text-center">
                    <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.users_show.create_profile_u_show'), new_profile_path, :class => 'btn btn-sm btn-primary dim' %>
                  </p>
              <% end %>
            </ul>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <% if @editarUser == 4 && (@user.id != current_user.id.to_i) %>
            <% @perfil = Profile.find(@user.profile_id) %>

            <% if current_user.profile.area_id == 1 #Es un usuario de CENTRAL     %>
                <% if (@perfil.flag > current_user.profile.flag.to_i) %>
                    <div class="row">
                      <div class="col-xs-2"></div>
                      <div class="col-xs-7">
                        <%= render 'change', user: @user %>
                      </div>
                      <div class="col-xs-3"></div>
                    </div>

                    <div class="col-xs-12 hr-line-dashed"></div>
                    <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('views.users_show.edit_u_show'), edit_user_path(@user), :class => 'btn btn-xs btn-primary dim' %>
                    <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('all.back'), users_path, :class => 'btn btn-xs btn-primary dim' %>
                <% end %>
            <% else #Es un usuario de OTRA AREA %>
                <% if @perfil.flag > current_user.profile.flag.to_i && @user.area_id == current_user.profile.area_id %>
                    <div class="row">
                      <div class="col-xs-2"></div>
                      <div class="col-xs-7">
                        <%= render 'change', user: @user %>
                      </div>
                      <div class="col-xs-3"></div>
                    </div>

                    <div class="col-xs-12 hr-line-dashed"></div>
                    <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('views.users_show.edit_u_show'), edit_user_path(@user), :class => 'btn btn-xs btn-primary dim' %>
                    <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('all.back'), users_path, :class => 'btn btn-xs btn-primary dim' %>
                <% end %>
                <% if @perfil.flag >= current_user.profile.flag.to_i && @user.area_id.to_i > current_user.profile.area_id.to_i %>
                    <div class="row">
                      <div class="col-xs-2"></div>
                      <div class="col-xs-7">
                        <%= render 'change', user: @user %>
                      </div>
                      <div class="col-xs-3"></div>
                    </div>

                    <div class="col-xs-12 hr-line-dashed"></div>
                    <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('views.users_show.edit_u_show'), edit_user_path(@user), :class => 'btn btn-xs btn-primary dim' %>
                    <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('all.back'), users_path, :class => 'btn btn-xs btn-primary dim' %>
                <% end %>
            <% end %>
        <% else %>
            <div class="col-xs-12 hr-line-dashed"></div>
            <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('all.back'), users_path, :class => 'btn btn-xs btn-primary dim' %>
      <% end %>
      </div>


    </div>
  </div>
</div>

