<!--<h1 class="no-margins">0</h1>-->
<strong class="color1"><%= t('views.home_index.atendidas') %></strong>
<small class="no-margins color1"><%= Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where.not(:IdUsuario => "N/A").count %></small>
<br>
<strong class="color2"><%= t('views.home_index.no_Atendidas') %></strong>
<small class="no-margins color2"><%= Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where(:IdUsuario => "N/A").count %></small>
<br>

<style>
  small, strong {
    font-size: medium;
  }

  .color1 { /*transaccional atendidas*/
    color: #498fc8;
    text-shadow: #498fc8;
  }

  .color2 { /*transaccional no atendidas*/
    color: #14568c;
    text-shadow: #14568c;
  }

</style>

<script>
  console.log("Atendidas Transaccional: <%= Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where.not(:IdUsuario => "N/A").count %> ")
  console.log("No Atendidas Transaccional: <%= Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where(:IdUsuario => "N/A").count %>")
</script>